.background {
    background: url(https://aawedding.mo.cloudinary.net/sw/img_bg_footer.webp) no-repeat top scroll; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 120vh;
}

@media (max-width: 768px) {
    .background {
        background: url(https://aawedding.mo.cloudinary.net/sw/img_bg_footer.webp) no-repeat top scroll; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 70vh;
    }
}